{% extends 'base.html' %}

{% block titulo %}
¿QUÍENES SOMOS?
{% endblock %}

{% block contenido %}


<body
style="background-color: rgb(132, 14, 14)">
        <h1 style = "color:rgb(5, 5, 5); margin-left:45rem; margin-right: 35rem;"> PYFLIX </h1>
        
        <h4 style = "color:rgb(4, 4, 4); margin-left:5rem; margin-top:3rem; margin-right: 5rem;">
        
        <p>PYFLIX es una plataforma de streaming argentina.</p>
        
                <p>Somos un grupo de jóvenes emprendedores apasionados por el arte audiovisual.</p>
        
                <p>La plataforma fue creada en 2022 y actualmente participa en la producción de obras audiovisuales, desde la creación o adquisición del producto hasta su difusión.</p>
        
        </h4>
</body>
{% endblock %}