{% extends 'based.html' %}

{% block titulo %}
    DOCUMENTALES
{% endblock %}

{% block contenido %}
<h2 style="margin-left:30rem; margin-top:2rem">RESULTADOS DE LA BUSQUEDA</h1>
<div class="d-flex" style="margin-top:4rem; margin-left:4rem">
    {% for producto in products %}

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{producto.nombre}}</h5> 
            <p class="card-text">{{producto.duracionminutos}}</p>
            <p class="card-text">{{producto.actores}}</p>
            <a href="#" class="btn btn-primary">MIRAR</a>
        </div>
    </div>

    {% endfor %}
</div>
{% endblock %}