{% extends 'bases.html' %}

{% block titulo %}
    SERIES
{% endblock %}

{% block contenido %}
<h2 style="margin-left:30rem; margin-top:2rem">RESULTADOS DE LA BUSQUEDA</h1>
<div class="d-flex" style="margin-top:4rem; margin-left:4rem">
    {% for product in products %}

    <div class="card" style="width: 18rem;">
        {% if product.image %}
        <img src= "{{product.image.url}}" class="card-img-top" >
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">{{product.nombre}}</h5>
            <p class="card-text">{{product.actores}}</p>
            <p class="card-text">{{product.duracioncapitulos}} cap</p>
            <a href="/series/detail-serie/{{product.id}}/" class="btn btn-primary">¡Ver más!</a>
        </div>
    </div>

    {% endfor %}
</div>
{% endblock %}