{% extends 'bases.html' %}

{% block contenido %}

{% if form %}
    <h2>ALTA DE SERIES</h2>

    <form action="" method="POST" >
        {% csrf_token %}
        <table>
            {{form.as_table}}
        </table>
        <input type="submit", value="CREAR SERIE">
    </form>

{% elif new_serie %}

    <div class="card" style="width: 18rem;">
        <!-- <img class="card-img-top" src=".../100px180/" alt="Card image cap"> -->
        <div class="card-body">
            <h5 class="card-title">{{new_serie.nombre}}</h5>
            <p class="card-text">{{new_serie.actores}}</p>
            <p class="card-text">{{new_serie.duracioncapitulos}}</p>
            </div>
    </div>

{% endif %}

{% endblock %}