{% extends 'basep.html' %}


{% block contenido %}

{% if form %}
<h2 style="color:rgb(255, 255, 255);margin-left:35rem; margin-top:2rem">ALTA DE PELÍCULAS</h2>
<form action="" method="POST" style="color:rgb(255, 255, 255);margin-left:40rem;margin-top:7rem" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
        {{form.as_table}}
    </table>
    <input style="margin-left:6rem; margin-top:1rem" class="btn btn-primary" type="submit" value= 'CREAR PELÍCULA'>
</form>

{% endif %}
{% endblock %}