{% extends 'basep.html' %}

{% block contenido %}

{% if form %}
    <h2 style="margin-left:36rem; margin-top:2rem">ALTA DE PELICULAS</h2>
    <form action="" method="POST" style="margin-left:35rem;margin-top:4rem">
        {% csrf_token %}
        <table>
            {{form.as_table}}
        </table>
        <input class="btn btn-primary" type="submit" value="CREAR PELICULA">
    </form>

{% elif new_product %}
        <h2 style="color:black; margin-left:37rem; margin-top:2rem">PELICULA CREADA</h2>
        <div class="card" style="width: 18rem;background-color: rgb(246, 245, 245);margin-top:4rem;margin-left:37rem">

        <div class="card-body">
            <h5 class="card-title">{{new_product.nombre}}</h5>
            <p class="card-text">{{new_product.duracionminutos}}</p>
            <p class="card-text">{{new_product.actores}}</p>
        </div>
    </div>
    
{% elif errors %}
    <div>
        {{errors}}
    </div>


{% endif %}

{% endblock %}