{% extends 'bases.html' %}

{% block contenido %}

{% if form %}
    <h2 style="margin-left:40rem; margin-top:2rem">ALTA DE SERIES</h2>
    <form action="" method="POST" style="margin-left:35rem;margin-top:4rem">
        {% csrf_token %}
        <table>
            {{form.as_table}}
        </table>
        <input class="btn btn-primary" type="submit" value="CREAR SERIE">
    </form>

{% elif new_serie %}

        <h2 style="color:black; margin-left:40rem; margin-top:2rem">SERIE CREADA</h2>
        <div class="card" style="width: 18rem;background-color: rgb(246, 245, 245);margin-top:4rem;margin-left:37rem">
        <div class="card-body">
            <h5 class="card-title">{{new_serie.nombre}}</h5>
            <p class="card-text">{{new_serie.actores}}</p>
            <p class="card-text">{{new_serie.duracioncapitulos}}</p>
            </div>
    </div>
{% elif errors %}
    <div>
        {{errors}}
    </div>
{% endif %}


{% endblock %}