{% extends 'based.html' %}

{% block contenido %}
<h2 style="margin-left:34rem; margin-top:2rem">DOCUMENTALES DISPONIBLES</h2>
<div class="d-flex" style="margin-top:4rem; margin-left:4rem">
    {% for product in object_list %}

    <div class="card" style="width: 18rem;">
        {% if product.image %}
        <img src= "{{product.image.url}}" class="card-img-top" >
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">{{product.nombre}}</h5>
            <p class="card-text">Protagonista: {{product.actores}}</p>
            <p class="card-text">Duración: {{product.duracionminutos}} min</p>
            <a href="/documentales/detail-documental/{{product.id}}/" class="btn btn-primary">¡Ver más!</a>
        </div>
    </div>

    {% endfor %}
</div>
{% endblock %}