{% extends 'base.html' %}

{% block titulo %}
Inicio
{% endblock %}

{% block contenido %}
<body
background="https://c.wallhere.com/photos/10/0f/movies_Mad_Max_The_Dark_Knight_Interstellar_movie_The_Martian_Pulp_Fiction_King_Kong_Man_of_Steel-84594.jpg!d">

        <h1 style="color:rgb(250, 250, 250); margin-left:35rem; margin-top:2rem">¡BIENVENIDO A PYFLIX!</h1>

        <h3 style="color:rgb(252, 1, 1); margin-left:42rem; margin-top:3rem">{{message}}</h3>

        <h4 style = "color:rgb(250, 250, 250); margin-left:5rem; margin-top:4rem; margin-right: 5rem;">
                
                <p>Aqui encontrarás todas las películas, series y documentales que siempre quisiste.</p>
                
                <p>En PYFLIX disponemos de una amplia biblioteca de peliculas galardonadas, series de TV, documentales, largometrajes y otros contenidos.</p>
                
                <p>Puedes ver todo el contenido que quieras, cuando quieras y sin un solo anuncio.</p>
                
                <p>¡Siempre hay algo nuevo que descubrir, y cada semana se añaden nuevas series y películas!</p>
                
                <p>Inicia sesión con tu cuenta para disfrutar al instante de todo el contenido, desde tu ordenador personal o en cualquier dispositivo conectado a internet.</p>
                
                <p>Podrás crear nuevos perfiles que se adapten a la necesidad de cada usuario.</p>
        </h4>
</body>
{% endblock %}